<div class="container-fluid bg-dark-subtle text-dark p-5">
  <div class="container bg-dark-subtle p-5">
    <h1 class="display-4">
      <%= @student.name %> -
      <%= @student.email %>
    </h1>
    <hr>
    <p class="lead">
      <% if @student.enrollments.empty? %>
        Nenhum curso encontrado na sua lista!
      <% else %>
        <h2>Meus Cursos</h2>
        <% @student.courses.each do |course| %>
          <p><%= course.name %>
        <% end %>
      <% end %>
    </p>
    <br>
    <%= link_to "Editar", edit_student_path(@student), class: "btn btn-secondary" %>
    <%= link_to "Voltar", students_path, class: "btn btn-dark" %>
  </div>
</div>
