<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <%= link_to "GoLearning App", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="na v-item">
            <%= link_to "Cursos", courses_path, class: "nav-link" %>
        </li>
        <li class="na v-item">
            <%= link_to "Alunos", students_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Meus Cursos", student_path(current_student.id), class: "nav-link" %>
        </li>
        <% if student_signed_in? %>
          <li class="nav-item">
            <%= link_to "Sign Out", destroy_student_session_path, data: { turbo_method: :delete }, class: "nav-link" %>
          </li>
           <li class="nav-item">
            <%= link_to "Olá #{current_student.name}", "", class: "nav-link" %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Sign Up", new_student_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign In", new_student_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>