<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Starts at:</strong>
    <%= course.starts_at %>
  </p>

  <p>
    <strong>Ends at:</strong>
    <%= course.ends_at %>
  </p>

</div>
