<p style="color: green"><%= notice %></p>

<table class="table table-striped table-hover table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Início</th>
      <th>Término</th>
      <th>Status</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.description %></td>
        <td><%= l course.starts_at, format: :date_short %></td>
        <td><%= l course.ends_at, format: :date_short %></td>
        <td><%= course.active? ? "Ativo" : "Inativo" %></td>
        <td><%= link_to "Exibir", course, class: "btn btn-secondary" %></td>
        <td><%= link_to "Editar", edit_course_path(course), class: "btn btn-secondary" %></td>
        <td>
          <%= link_to "Inscreva-se", 
                enrollments_create_path(
                    student_id: current_student ? current_student.id : Student.last.id,
                    course_id: course.id
                  ),
                  class: "btn btn-secondary text-nowrap" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
