<p style="color: green"><%= notice %></p>
<div class="container-fluid bg-dark-subtle text-dark p-5">
  <div class="container bg-dark-subtle p-5">
    <h1 class="display-4">
      <%= @course.name %>
    </h1>
    <hr>
    <p class="lead">
      <%= @course.description %>
      <p>
        Inicia em - <%= @course.starts_at.strftime("%d/%m/%Y") %>  |
        Termina em - <%= @course.ends_at.strftime("%d/%m/%Y") %>
      </p>
      <p class="lead">
      <% if @course.enrollments.empty? %>
        Nenhum curso encontrado na sua lista!
      <% else %>
        <h2>Alunos inscritos</h2>
        <% @course.students.each do |student| %>
          <p><%= student.name %>
        <% end %>
      <% end %>
    </p>
    </p>
    <br>
    <%= link_to "Edit", edit_course_path(@course), class: "btn btn-secondary" %>
    <%= link_to "Back", courses_path, class: "btn btn-dark" %>
  </div>
</div>
